<h1>New Posts</h1>

<%= bootstrap_form_for(@post, layout: :horizontal, label_col: "col-sm-2", control_col: "col-sm-10") do |f| %>
  <%= f.text_field :title %>
  <%= f.text_area :body %>
  <%= f.submit 'Post' %>
<% end %>
<br>
<%= link_to "Back", posts_path %>
